<div class="shadow-4 m-3">
    <div class="flex justify-content-center"
         *ngIf="(loading$ | async)">
        <p-progressSpinner ariaLabel="loading" />
    </div>
    <ng-container *ngIf="!(loading$ | async) && currentGame.id === -1">
        <form #statForm="ngForm"
              (ngSubmit)="createNewGame()">
            <div class="formgrid grid p-4 flex align-items-end">
                <div class="col-6">
                    <app-team-selector></app-team-selector>
                </div>
                <div class="col-6">
                    <ng-container *ngIf="!gameInSession">
                        <p-button label="New Game"
                                  type="submit"
                                  [raised]="true"></p-button>
                    </ng-container>
                </div>
            </div>
        </form>
    </ng-container>
    <ng-container *ngIf="!(loading$ | async) && currentGame.id > -1">
        <div class="flex justify-content-between align-items-center p-4 text-2xl font-bold">
            <span>Inning {{currentInning.inningNumber}}
                <span *ngIf="currentInning.submitted"><i class="text-2xl pi pi-lock scalein animation-duration-2000 animation-iteration-infinite"
                       style="color: #fdc500">
                    </i></span>
            </span>
            <span class="flex align-items-center">
                <span class="mr-2 p-2"
                      [ngClass]="inningPercentSeverity">
                    {{(inningPercentGrade$ | async) + '%'}}</span>
                <span>
                    <p-button [rounded]="true"
                              icon="fa-solid fa-baseball"
                              severity="secondary"
                              (onClick)="pitchingOverlay.toggle($event)"
                              size="small" />
                </span>
            </span>
        </div>
        <div class="grid grid-nogutter pl-4 pr-4">
            <div class="col-3">
                <div class="header-cell one">
                    <span class="text-s font-bold">Pos.</span>
                </div>
            </div>
            <div class="col-9">
                <div class="header-cell two">
                    <span class="text-s font-bold">Player</span>
                </div>
            </div>
            <div class="col-3">
                <div class="example-list positions">
                    <div class="example-box"
                         *ngFor="let pos of positions; let i = index">
                        <div class="flex justify-content-between align-items-center"
                             [ngClass]="i>8? 'font-bold' : ''">
                            <span class="text-s"> {{pos.label}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <form #inningForm="ngForm"
                      (ngSubmit)="submitInning()">
                    <div cdkDropList
                         class="example-list"
                         (cdkDropListDropped)="drop($event)">
                        <div class="example-box"
                             *ngFor="let inningPlayer of currentInningPlayersView; let i = index"
                             [ngClass]="!currentInning.submitted && isGameCreator ? 'move' : ''"
                             cdkDrag>
                            <div class="flex justify-content-between align-items-center"
                                 [ngClass]="i>8? 'font-bold' : ''">
                                <span class="text-s">{{ inningPlayer?.players?.Name }}

                                </span>
                                <span style="padding: 0; margin: 0;">
                                    <p-badge [value]="inningPlayer?.players?.PitchRanking"
                                             [severity]="inningPlayer?.players?.PitchRanking === 'A' ? 'success' : 
                                                inningPlayer?.players?.PitchRanking === 'B' ? 'warning' : 
                                                inningPlayer?.players?.PitchRanking === 'C' ? 'warning' : 'danger'"></p-badge>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="lineup">
                        <p-orderList [value]="currentInningPlayersView"
                                     header="Players"
                                     [dragdrop]="!currentInning.submitted && isGameCreator"
                                     [stripedRows]="true">
                            <ng-template let-inningPlayer
                                         let-i="index"
                                         pTemplate="item">
                                <div class="flex justify-content-between align-items-center"
                                     [ngClass]="i>8? 'font-bold' : ''">
                                    <span class="text-s">{{ inningPlayer?.players?.Name }}

                                    </span>
                                    <span>
                                        <p-badge [value]="inningPlayer?.players?.PitchRanking"
                                                 [severity]="inningPlayer?.players?.PitchRanking === 'A' ? 'success' : 
                                                                inningPlayer?.players?.PitchRanking === 'B' ? 'warning' : 
                                                                inningPlayer?.players?.PitchRanking === 'C' ? 'warning' : 'danger'"></p-badge>
                                    </span>
                                </div>
                            </ng-template>
                        </p-orderList>
                        <ng-container *ngIf="!currentInning.submitted && !isGameCreator">
                            <div class="locked-overlay">
                                <div class="locked-object"><i class="pi pi-lock"
                                       style="font-size: 2.5rem">
                                    </i>
                                    <p>Inning needs confirmed by coach</p>
                                </div>
                            </div>
                        </ng-container>
                    </div> -->
                    <div class="flex justify-content-end mt-2"
                         *ngIf="isGameCreator">
                        <ng-container *ngIf="!currentInning?.submitted">
                            <p-button label="Save Inning"
                                      type="submit"
                                      [disabled]="currentInning.submitted"
                                      [raised]="true"></p-button>
                        </ng-container>
                        <ng-container *ngIf="currentInning?.submitted">
                            <p-splitButton label="Next Inning"
                                           [model]="splitButtonList"
                                           styleClass="p-button-success"
                                           (onClick)="onNextInningClicked()"
                                           severity="success" />
                        </ng-container>
                    </div>

                </form>
            </div>
        </div>
        <ng-container *ngIf="sortedInningPlayersByMaxBenched">
            <div class="p-4 pt-0">
                <ng-container *ngFor="let benchedPlayers of sortedInningPlayersByMaxBenched">
                    <p-chip styleClass="pr-0 pl-3 mt-2">
                        <span class="mr-2 font-medium">
                            {{benchedPlayers.players.Name}}
                        </span>
                        <span class="bg-red-500 border-circle w-2rem h-2rem text-white flex align-items-center justify-content-center">
                            {{benchedPlayers.timesBenched}}
                        </span>
                    </p-chip>
                </ng-container>
            </div>
        </ng-container>

    </ng-container>
</div>
<ng-container *ngIf="!!gameInSession && currentGame.id == -1">
    <div class="shadow-4 m-3 p-4">
        <div class="flex justify-content-between align-items-center">
            <div class="flex">
                <p-badge value="live"
                         [badgeSize]="'xlarge'"
                         severity="success" />
                <span class="pl-2">
                    <h2 style="display: inline;">Game in Progress</h2>
                </span>
            </div>
            <span>
                <p-button label="Join"
                          type="info"
                          [raised]="true"
                          (onClick)="checkIfGameInSessionAndAmITheCreator()"></p-button>
            </span>
        </div>
    </div>
</ng-container>

<p-overlayPanel #pitchingOverlay
                [style]="{ width: '300px' }"
                [showCloseIcon]="true"
                (onShow)="calculateInningsPitched()">

    <ng-template pTemplate="content">
        <div class="flex justify-content-end align-items-center">
            <p-inputSwitch (onChange)="filterToTodayClicked($event)" />
            <span class="text-xs">Show today only</span>
        </div>
        <p-table [value]="currentInningPlayersInningsPitchedPerTeamLastThreeDays"
                 selectionMode="single"
                 responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        Name
                    </th>
                    <th pSortableColumn="pitchingRanking">
                        Rank <p-sortIcon field="pitchingRanking" />
                    <th pSortableColumn="noOfInnings">
                        # <p-sortIcon field="noOfInnings" />
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body"
                         let-rowData
                         let-player>
                <tr [pSelectableRow]="rowData">
                    <td>
                        {{ player.playerName }}
                    </td>
                    <td>
                        <span>
                            <p-badge [value]="player.pitchingRanking"
                                     [severity]="player.pitchingRanking === 'A' ? 'success' : 
                                         player.pitchingRanking === 'B' ? 'warning' : 
                                        player.pitchingRanking === 'C' ? 'warning' : 'danger'"></p-badge>
                        </span>
                    </td>
                    <td [ngClass]="player.noOfInnings > 6 ? 'innings-pitched-danger' : 
                        player.noOfInnings > 3 ? 'innings-pitched-warn':''">{{ player.noOfInnings }}</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
</p-overlayPanel>



<p-toast />