:host ::ng-deep {
  .p-orderlist-controls{
    display: none;
  }
}
// :host ::ng-deep {
//   .p-badge{
//     font-size: 0.5rem;
//     font-weight: 700;
//     min-width: 1rem;
//     height: 1rem;
//     line-height: 1rem;
//   }
// }
.header-cell {
  padding:10px;
  border: solid 1px #ccc;
  background: #eee;
 
  border-bottom:none;
  &.one {
    border-radius: 5px 0 0 0;
    border-right: none;
  }
   &.two {
    border-radius: 0 5px 0 0;
  }
}
.position-list {
  line-height: 1.5em;
}
.innings-pitched-warn {
  color: #fdc500;
  font-weight: 800;
}
.innings-pitched-danger {
    color: #dc0000;
    font-weight: 1000;
}
.lineup {
  position: relative;
}
.locked-overlay {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        background: rgba(0,0,0,0.6);
        z-index:9999;
        color:#fff;
        overflow:hidden;
        border-radius: 5px;
}
.locked-object {
        display: inline-block;
        width:100%;
        text-align:center;
        vertical-align:middle;
        overflow:hidden;
        margin: 0 auto;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
}
.a-pitch {
  background-color: blue;
}


//Drag and drop stuff
.example-list {
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  &.positions {
    border-right: none;
  }
}

.example-box {
  padding:10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  background: white;
  line-height: 2rem;
}
.move {
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}
.example-box:nth-child(even) {
  background-color: #f8f9fa;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.p-badge-warning {
  background-color: #fdc500;
  color: white;
  border-radius: 5px;
}
 .p-badge-danger {
  background-color: #dc0000;
  color: white;
  border-radius: 5px;
 }
.p-badge-success {
  background-color: #00ac46;
  color: white;
  border-radius: 5px;
}
