<ng-container *ngIf="currentRoster.length > 1 && !editMode">
    <div class="shadow-4 m-3">
        <div class="ml-3 mr-3 pb-3">
            <div class="grid">
                <div class="col">
                    <p-dataView #dv
                                [value]="currentRoster">
                        <ng-template let-player
                                     pTemplate="listItem">
                            <div class="col-12 p-3">
                                <div class="flex justify-content-between align-items-center">
                                    <div class="text-xl">
                                        {{player.Name}}
                                    </div>
                                    <div>
                                        <p-button icon="pi pi-chevron-right"
                                                  [rounded]="true"
                                                  [raised]="true"
                                                  [text]="true"
                                                  (onClick)="onPlayerSelected(player.id)"></p-button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>
                </div>
            </div>
            <div class="flex justify-content-end">
                <p-button label="Add Player"
                          [severity]="'secondary'"
                          [rounded]="true"
                          [raised]="true"
                          icon="pi pi-plus"></p-button>
            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="editMode">
    <app-manage-team-player [currentPlayer]="currentPlayer"
                            (playerSaved)="onPlayerSaved($event)"></app-manage-team-player>
</ng-container>