<div class="shadow-4 m-3">
    <form #statForm="ngForm"
          (ngSubmit)="onSubmit()">
        <div class="formgrid grid p-4">
            <div class="field col-6">
                <app-team-selector></app-team-selector>
            </div>
            <div class="field col-6">
                <label for="stat">Stat</label>
                <div>
                    <p-autoComplete [(ngModel)]="statToGraph"
                                    [suggestions]="filteredStats"
                                    [dropdown]="true"
                                    [group]="true"
                                    [field]="'label'"
                                    placeholder="Search for Stat"
                                    name="stat"
                                    styleClass="min-w-full max-w-full"
                                    [required]="true"
                                    [forceSelection]="true"
                                    (onSelect)="onStatSelectChange($event)"
                                    (completeMethod)="filterStats($event)"></p-autoComplete>

                </div>
            </div>
            <div class="field col-6">
                <label for="players">Players</label>
                <p-multiSelect [options]="players"
                               [(ngModel)]="selectedPlayers"
                               placeholder="Select Players"
                               optionLabel="Name"
                               display="chip"
                               name="players"
                               [required]="true"
                               styleClass="min-w-full max-w-full"
                               (onChange)="onPlayerSelectChange($event.value)"
                               [showClear]="true"></p-multiSelect>

            </div>
            <div class="field col-6">
                <label for="type">Type</label>
                <p-selectButton [options]="buttonOptions"
                                [(ngModel)]="selectedButton"
                                optionLabel="label"
                                optionValue="value"
                                [required]="true"
                                name="type"></p-selectButton>
            </div>
            <div class="col">
                <div class="flex flex-wrap align-items-center justify-content-end"
                     style="min-height:100%; margin-top: 5px;">
                    <p-button label="Submit"
                              type="submit"
                              [disabled]="!statForm.form.valid"
                              [raised]="true"></p-button>
                </div>

            </div>
        </div>
    </form>
</div>
<ng-container *ngIf="statForm.form.valid && statForm.submitted">
    <div class="shadow-4 m-3 p-4">
        <div class="grid">
            <div class="col-12 flex justify-content-between align-items-center">
                <div>Data</div>

                <ng-container *ngIf="selectedButton === 'month'">
                    <div class="flex align-items-center">
                        <div class="text-xs">Show totals</div>
                        <div><p-inputSwitch [(ngModel)]="totals"
                                           (onChange)="onShowTotalsClicked()" />
                        </div>
                    </div>

                </ng-container>

            </div>
            <div class="col-12">
                <p-chart type="line"
                         [data]="chartData"
                         [options]="chartOptions"></p-chart>
            </div>
        </div>
    </div>
</ng-container>