<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="../../assets/lightningLogoResize.png"
             width="50px" />
    </ng-template>
    <ng-template pTemplate="item"
                 let-item
                 let-root="root">
        <a pRipple
           class="flex align-items-center p-menuitem-link"
           [routerLink]="item.routerLink">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
            <p-badge *ngIf="item.badge"
                     [ngClass]="{ 'ml-auto': !root, 'ml-2': root }"
                     [value]="item.badge" />
            <i *ngIf="item.items"
               [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
        </a>
    </ng-template>
    <div *ngIf="loggedUser">
        <div class="flex flex-column ">
            <div>{{loggedUser?.user_metadata?.email}} </div>
            <div class="text-xs"><a (click)="logoutClicked()">Logout</a> </div>
        </div>
    </div>


</p-menubar>