<h1>
  Stats Trends
</h1>
<div class="formgrid grid">
  <div class="field col">
    <label for="team">Team</label>
    <div><p-dropdown [options]="teams"
                  [(ngModel)]="selectedTeam"
                  optionLabel="name"
                  placeholder="Select a Team"
                  styleClass="full-width"
                  (onChange)="onTeamSelectChange()" /></div>

  </div>
  <div class="field col">
    <label for="stat">Stat</label>
    <div>
      <p-autoComplete [(ngModel)]="statToGraph"
                      [suggestions]="filteredStats"
                      [dropdown]="true"
                      [field]="'label'"
                      styleClass="full-width"
                      placeholder="Search for Stat"
                      (onSelect)="onStatSelectChange($event.value)"
                      (completeMethod)="filterStats($event)"></p-autoComplete>

    </div>
  </div>
  <div class="field col">
    <label for="players">Players</label>
    <p-multiSelect [options]="players"
                   [(ngModel)]="selectedPlayers"
                   placeholder="Select Players"
                   optionLabel="Name"
                   display="chip"
                   styleClass="full-width"
                   (onChange)="onPlayerSelectChange($event.value)"
                   [showClear]="true"></p-multiSelect>

  </div>
  <div class="col">
    <div class="flex flex-wrap align-items-center justify-content-end"
         style="min-height:100%; margin-top: 5px;">
      <p-button label="Submit"
                (onClick)="onSubmit()"
                [raised]="true"></p-button>
    </div>

  </div>
</div>
<div class="grid">
  <div class="col">
    Data
    <p-chart type="line"
             [data]="chartData"
             [options]="chartOptions"></p-chart>
  </div>
</div>